.table-wrapper{
    width: 60vw;
   margin:20px 0;
}

.title{
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}

@media only screen and (max-width:600px){
    .table-wrapper{
        width: 90vw;
        overflow-x: scroll;
    }
}


.filter-container{
    display: flex;
    justify-content: space-between;
    gap:10px;
}


.search-box{
    background-image: url('icons/searchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    height: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border: 2px solid #00cccc;
    outline: none;
    /* margin-bottom: 12px; */
  }

  .search-box:active{
    border: 2px solid #00cccc;
  }

  .pagination{
      display: flex;
      gap:20px;
  }

  .btn {
    background: transparent;
    border: 2px solid #00cccc;
    color: #555;
    font-weight: bold;
    outline: none;
    border-radius: 4px;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .btn:active{
      background-color: #00cccc;
  }

  .btn:disabled{
    background-color: #00cccc;
    color:white;
    cursor: not-allowed;
  }



